@charset "UTF-8";body{background:url('13E409D0-C9B2-44A9-9639-FD92463B2D4E.gif') repeat-y 100% 100% fixed;height:100%;width:100%;}.container{background:rgb(255,255,255);overflow:hidden;height:0px;padding:0;border:transparent solid 0px;overflow-y:auto;}.icons:hover{color:#ff69b4;transition:color 0.3s linear;-webkit-transition:color 0.3s linear;-moz-transition:color 0.3s linear;.overlay_image{ position: absolute;bottom:0px;right:0px;width:186px;height:186px;box-shadow:0px 0px 10px white,0px 0px 10px white,0px 0px 10px white,0px 0px 5px #553300,0px 0px 5px #553300;-webkit-filter:contrast(115%) drop-shadow(8px 8px 10px black);filter:contrast(115%) drop-shadow(8px 8px 10px black);}.box{width:800px;background:#000;}#navbar{background-color:black;width:800px;height:auto;margin-left:auto;margin-right:auto;margin-top:40px;box-shadow:black 0px 5px 10px;text-align:center;padding-top:40px;}h1{font-size:20px;font-family:Times,"Times New Roman",serif;font-weight:normal;clear:both;}h6{font-size:9px;}.intro{font-size:9px;}.copy{font-size:11px;}.mail{font-size:9px;}.logo{margin:20px;}#navline{font-size:13px;letter-spacing:8px;margin-bottom:20px;}.blinkFrame{display:inline-block;float:left;width:400px;font-weight:bolder;}hr{border-color:#d2738a;border-bottom-width:2px;}.article{width:800px;background-color:black;height:auto;margin-left:auto;margin-right:auto;margin-top:40px;box-shadow:black 0px 5px 10px;text-align:center;letter-spacing:8px;font-size:13px;padding-top:20px;}.article p{margin:20px;font-size:13px;}.date{font-size:9px;line-height:0px;margin:0px;}.author{font-size:13px;line-height:40px;margin:0px;}h5{font-weight:normal;}#heart{height:23px;width:31px;background-image:url('heart.png');}#heart:hover{background-image:url('heart2.png');}#twitter{height:23px;width:31px;background-image:url('twitter.png');}#twitter:hover{background-image:url('twitter2.png');}#youtube{height:23px;width:31px;background-image:url('youtube.png');}#youtube:hover{background-image:url('youtube2.png');}#steam{height:23px;width:31px;background-image:url('steam.png');}#steam:hover{background-image:url('steam2.png');}
}

body {
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: monospace;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(8,230,255,100), -1px -1px 0px rgba(255,0,0,100);
    cursor: url('http://static.tumblr.com/zlim8hm/29yn6561z/force-cursor.png'), default;
}

a:hover {
   cursor: url('http://static.tumblr.com/zlim8hm/29yn6561z/force-cursor.png'), default;
}

pre {
    text-align: center;
    font-family: monospace;
}
.brand-logo {
    font-family: 'Lobster', cursive;
    font-size: 250px;
    opacity: 0.85;
    transition: all .2s ease-in-out;
}
.brand-logo:hover {
    text-shadow: 5px 6px #fff;
    text-shadow: -1px 0 white, 0 1px white, 6px 0 white, 0 -4px white;
}
#center {               
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: #000;
}
#marquee {
    width: 400px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -3px;
}
video {
    position: fixed;
    top: 48.5%;
    left: 50%;
    min-width: 135%;
    min-height: 110%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
	overflow: hidden;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.right-down {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
}
